  <div class="col-3">
    <div class="card card-block card-1" onclick="genreClick('{{genre.name}}')">
        <p class="para">{{genre.name}}</p>
        <img class="card-img-top genre-card"
                            src="{{genre.images }}"
                            alt="{{genre.name}}">
    </div>
  </div>


