  <div class="col-3">
    <div class="card card-block card-1">
        <p class="para">{{movie.name}}</p>
        <img class="card-img-top genre-card"
                            src="{{movie.images }}"
                            alt="{{movie.movieName}}">
    </div>
  </div>


