<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/"
    ><img
            src="https://img.icons8.com/external-konkapp-outline-color-konkapp/64/000000/external-movie-ticket-cinema-konkapp-outline-color-konkapp-1.png"
    />
    </a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div
            class="collapse navbar-collapse flex-grow-1 text-right"
            id="navbarSupportedContent"
    >
<!--        <form class="form-inline my-2 my-lg-0" >-->
<!--            <input-->
<!--                    class="form-control mr-sm-2"-->
<!--                    style="padding-bottom: 20px"-->
<!--                    type="search"-->
<!--                    placeholder="Search"-->
<!--                    aria-label="Search"-->
<!--            />-->
<!--            <button class="btn btn-warning my-2 my-sm-0 text-secondary" type="submit">-->
<!--                Search-->
<!--            </button>-->
<!--        </form>-->
        <li class="nav-item btn" style="margin-left:1em">
            <a class="nav-link" href="/movies">Movies</a>
        </li>

        <div class="navbar-nav ml-auto flex-nowrap">

            <div class="nav-item active">
                <a class="btn btn-warning my-2 my-sm-0 text-secondary" href="login">
                    Sign In
                </a>
            </div>
        </div>
    </div>
</nav>