  <div class="col-3" >
    <div class="card card-block card-1" onclick="openMovie('{{movie.movieId}}')">
        <img class="card-img-top top-card"
                            src="{{getObjectFromArray movie.images 0 "mainImg"}}"
                            alt="{{movie.movieName}}">
    </div>
  </div>

