.theatre {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.theatre-calendar-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.theatre-calendar-list {
    display: flex;
    flex-direction: row;
    width: max-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.theatre-calendar-date {
    width: 62px;
    height: 70px;
    margin-right: 8px;
    vertical-align: top;
}

.theatre-calendar-date_btn {
    width: 62px;
    height: 70px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #e5e7e8;
    border-radius: 3px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

.theatre-calendar-date_select {
    border-color: #3478c1;
    background-color: #3478c1;
    color: #fff;
}

.theatre-calendar-date_btn_weekday {
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #3478c1;
    margin-top: 7px;
    height: 12px;
}

.theatre-calendar-date_btn_month {
    font-size: 12px;
    letter-spacing: .3px;
    margin-top: 5px;
    font-family: "Futura Condensed","Arial Narrow",Arial,sans-serif;
    color: #171c20;
    font-weight: 400;
    display: block;
    overflow: hidden;
}

.theatre-calendar-date_btn_day {
    font-size: 25px;
    font-family: "Futura Condensed","Arial Narrow",Arial,sans-serif;
    color: #171c20;
    font-weight: 400;
    display: block;
    overflow: hidden;
}

.btn_select {
    color: #fff;
}

.theatre-detail {
    position: relative;
    display: flex;
    flex-direction: column;
}

.theatre-detail-showtime {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #cccfd1;
    background-color: #fff;
    position: relative;
}

.theatre-detail-showtime_header {
    padding-bottom: 40px;
    position: relative;
}

.theatre-detail-showtime_header_name {
    display: flex;
}

.theatre-detail-showtime_header_name h2 {
    font-size: 1rem;
    font-weight: 700;
    overflow-wrap: break-word;
    line-height: 24px;
    margin: 0;
}

.theatre-detail-showtime_header_address {
    margin-top: 10px;
    display: inline-block;
}

.theatre-detail-showtime_header_address p {
    font-size: 14px;
    font-weight: 600;
    color: #3478c1;
    margin: 0;
}

.theatre-detail-showtime_variants_format {
    border-top: 0;
    margin-top: 0;
    margin-bottom: 16px;
    padding-top: 0;
    color: #171C20;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.theatre-detail-showtime_variants_list_wrapper {
    margin-top: 10px;
    margin: 0;
    padding: 0;
    min-width: 300px;
}

.theatre-detail-showtime_variants_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    overflow: hidden;
}

.theatre-detail-showtime_variants_time {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 72px;
    height: 35px;
}

.theatre-detail-showtime_variants_time_btn{
    width: 78px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #FF7300;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
}

