<section class="theater_section">
    <div class="theater">
        <section class="theater-calendar-wrapper">
            <div id="calendar" class="theater-calendar">
                <ul id="calendar_list" class="theater-calendar-list">
                </ul>
            </div>
            <div class="calendar-left-triangle">
                <img src="/public/assets/images/details/arrow_left.png" id="calendar_arrow_left" class="arrow" alt="Calendar left">
            </div>
            <div class="calendar-right-triangle">
                <img src="/public/assets/images/details/arrow_right.png" id="calendar_arrow_right" class="arrow" alt="Calendar Right">
            </div>
        </section>
        <section id="theater-detail" class="theater-detail-section">

        </section>
        <section>
            <div class="theater-error">
                <h2>No such movie today!</h2>
            </div>
        </section>

    </div>
</section>


{{#section "styles"}}
    <script type="text/javascript">
        const movieId = '{{id}}';
    </script>
    <link rel="stylesheet" href="/public/assets/css/theater/theater.css">
{{/section}}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="/public/assets/js/theater/theater.js"></script>

