<h2>Theater selection</h2>



<form method="post" action="http://localhost:3000/movies/{{id}}/book/seat">

    <input type="text" value="{{id}}" name="movieId">
    <input type="text" value="61a53a7ab41d944db6ba69cf" name="theatreId">
    <input type="text" value="2021-11-29T21:05:00.000+00:00" name="showTimeId">
    <input type="submit">
</form>