<h2>Theater selection</h2>


<form method="POST" action="/movies/{{id}}/book/seat">

    <input type="text" value="{{id}}" name="movieId">
    <input type="text" value="61ad814bb0aa1d32fbb81fc6" name="theatreId">
    <input type="text" value="61ad814bb0aa1d32fbb81fc7" name="screenId">
    <input type="text" value="2021-12-17T03:00:00.000+00:00" name="showTimeId">
    <input type="submit">
</form>
