<title>Seat</title>
<link rel="stylesheet" href="../../../public/assets/css/seat.css"/>
<h2>Seat selection</h2>

<div class="container" id="container">
    <div class="screen"></div>


</div>

<button class="btn" id="continueButton">Continue</button>



<script>
        const seatInfo = '{{{seatInfo}}}';
</script>

<script src="../../../public/assets/js/seat.js"></script>